page-pay-tutor {
    h1{
        margin: 0;
        padding: 20px 15px 5px 15px;
        line-height: 1em;
        font-size: 16px;
        color: #333333;
    }
    p{
        margin: 0;
        padding: 10px 15px;
        line-height: 1.5em;
        font-size: 14px;
        color: #333333;
    }
    .appstore{
        display: block;
        margin: 10px auto;
        width: 147px;
    }
    .screen{
        display: block;
        margin: 10px auto;
        width: 185px;
    }
}
