<!--
  Generated template for the VivaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>viva</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="viva_content">
<!--pinch-->
<div class="viva_content" (click)="pinchEvent($event)">
	<div class="viva_scroll">
		<ion-slides  (ionSlideDidChange)="slideChanged($event)"  (ionSlideWillChange)="SlideWillChange($event)"  (ionSlideDrag)="ionSlideDrag($event)">
	  <ion-slide *ngFor="let item of slideData">
	    <h1 >{{item.name}}</h1>
	  </ion-slide>
	 
	</ion-slides>
	</div>
		<div class="page_btn_con">
		<div class="page_btn">上一章</div>
		<div class="page_btn page_btn_2" (tap)="clcikSlide()">下一章</div>
	</div>
	<page-media-player class="media_player_compont"  [audioSrc]="audioSrc"></page-media-player>
</div>

	

</ion-content>
<!--pinch-->
<!--<div class="pinch_cover "  [class.pinch_cover_show]="pincShow" tappable (click)="pinchEvent($event)">
	<div class="chapter_smal_content">
		<div class="sml_data" *ngFor="let item of smlArr;let i =index">
			<div class="sml_item" *ngFor="let chItem of item;let j = index">
					<div class="item_con" *ngIf="chItem.name!='##@@##'">
						<img src="assets/imgs/read/book_cover_img.png" class="book_cover_img"/>
						
						<div class="item_cover">
							<div>
								<img [src]="chapterIcon[(i+1)*3-3+j]" class="chapter_icon"/>
								<div class="chapter_t">{{chItem.name}}</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		
	</div>
</div>-->
<!--<div class="viva_tip_cover" *ngIf="meKnowShow">
		<div class="tip_content">
			<p class="cover_tip_txt">捏合屏幕可展开绘本全部页</p>
			<img src="assets/imgs/read/viva_tip_img.png" class="viva_tip_img"/>
			<div class="me_konw" (tap)="meKonwFn()">我知道了</div>
		</div>
</div>-->